@import '~@/assets/styles/variables'

.combo__img
  display: flex
  align-items: center 
  justify-content: center
  overflow: hidden

.combo__img--portrait
  img 
    width: 100%
    height: auto

.combo__img--landscape
  img 
    height: 100%
    width: auto

dump_media_cache()